programas/Sasha_flow.json
[
    {
        "id": "59407c72c4b4635e",
        "type": "tab",
        "label": "Maqueta2 Actuadores",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e01bb39641b69243",
        "type": "ui_switch",
        "z": "59407c72c4b4635e",
        "name": "",
        "label": "Relé",
        "tooltip": "",
        "group": "96c75aaf4397f4b9",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 620,
        "wires": [
            [
                "c48ba795c25c2a77"
            ]
        ]
    },
    {
        "id": "8cc222e5651d4beb",
        "type": "mqtt out",
        "z": "59407c72c4b4635e",
        "name": "",
        "topic": "maqueta2/actuadores/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09168218b0789c33",
        "x": 1410,
        "y": 560,
        "wires": []
    },
    {
        "id": "f3344de1d45c3c64",
        "type": "mqtt out",
        "z": "59407c72c4b4635e",
        "name": "",
        "topic": "maqueta2/actuadores/rele",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09168218b0789c33",
        "x": 1410,
        "y": 620,
        "wires": []
    },
    {
        "id": "75f61503e4e7eb0c",
        "type": "mqtt out",
        "z": "59407c72c4b4635e",
        "name": "",
        "topic": "maqueta2/actuadores/servo",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09168218b0789c33",
        "x": 1420,[{"id":"233cdb6fd58ab4b3","type":"tab","label":"Flow 6","disabled":false,"info":"","env":[]},{"id":"393a11028367c714","type":"mqtt in","z":"233cdb6fd58ab4b3","name":"","topic":"maqueta2/sensores/luz","qos":"0","datatype":"auto","broker":"09168218b0789c33","nl":false,"rap":false,"inputs":0,"x":660,"y":420,"wires":[["05891ede464f8020"]]},{"id":"05891ede464f8020","type":"ui_text","z":"233cdb6fd58ab4b3","group":"96c75aaf4397f4b9","order":1,"width":0,"height":0,"name":"","label":"Luz","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":910,"y":420,"wires":[]},{"id":"6e79ac5b1bb75c88","type":"mqtt in","z":"233cdb6fd58ab4b3","name":"","topic":"maqueta2/sensores/temp","qos":"0","datatype":"auto","broker":"09168218b0789c33","nl":false,"rap":false,"inputs":0,"x":670,"y":480,"wires":[["4ab196a961043c8e"]]},{"id":"4ab196a961043c8e","type":"ui_gauge","z":"233cdb6fd58ab4b3","name":"","group":"96c75aaf4397f4b9","order":2,"width":0,"height":0,"gtype":"donut","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":50,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":930,"y":480,"wires":[]},{"id":"80cfe477789d2354","type":"mqtt in","z":"233cdb6fd58ab4b3","name":"","topic":"maqueta2/sensores/hum","qos":"0","datatype":"auto","broker":"fe6c8158bb680914","nl":false,"rap":false,"inputs":0,"x":670,"y":540,"wires":[["55ca2173675b57a9"]]},{"id":"55ca2173675b57a9","type":"ui_chart","z":"233cdb6fd58ab4b3","name":"","group":"96c75aaf4397f4b9","order":3,"width":0,"height":0,"label":"Humidade","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No [{"id":"233cdb6fd58ab4b3","type":"tab","label":"Flow 6","disabled":false,"info":"","env":[]},{"id":"393a11028367c714","type":"mqtt in","z":"233cdb6fd58ab4b3","name":"","topic":"maqueta2/sensores/luz","qos":"0","datatype":"auto","broker":"09168218b0789c33","nl":false,"rap":false,"inputs":0,"x":660,"y":420,"wires":[["05891ede464f8020"]]},{"id":"05891ede464f8020","type":"ui_text","z":"233cdb6fd58ab4b3","group":"96c75aaf4397f4b9","order":1,"width":0,"height":0,"name":"","label":"Luz","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":910,"y":420,"wires":[]},{"id":"6e79ac5b1bb75c88","type":"mqtt in","z":"233cdb6fd58ab4b3","name":"","topic":"maqueta2/sensores/temp","qos":"0","datatype":"auto","broker":"09168218b0789c33","nl":false,"rap":false,"inputs":0,"x":670,"y":480,"wires":[["4ab196a961043c8e"]]},{"id":"4ab196a961043c8e","type":"ui_gauge","z":"233cdb6fd58ab4b3","name":"","group":"96c75aaf4397f4b9","order":2,"width":0,"height":0,"gtype":"donut","title":"Temperatura￼￼

        "y": 680,
        "wires": []
    },
    {
        "id": "f1ec057f848085d0",
        "type": "mqtt out",
        "z": "59407c72c4b4635e",
        "name": "",
        "topic": "maqueta2/actuadores/son",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09168218b0789c33",
        "x": 1410,
        "y": 760,
        "wires": []
    },
    {
        "id": "c48ba795c25c2a77",
        "type": "change",
        "z": "59407c72c4b4635e",
        "name": "cambio a 1",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "true",
                "fromt": "bool",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 620,
        "wires": [
            [
                "987ff3ade227a578"
            ]
        ]
    },
    {
        "id": "987ff3ade227a578",
        "type": "change",
        "z": "59407c72c4b4635e",
        "name": "cambio a 0",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "false",
                "fromt": "bool",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 620,
        "wires": [
            [
                "f3344de1d45c3c64"
            ]
        ]
    },
    {
        "id": "368b58426c5e4f99",
        "type": "ui_slider",
        "z": "59407c72c4b4635e",
        "name": "",
        "label": "LED",
        "tooltip": "",
        "group": "96c75aaf4397f4b9",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": 1,
        "className": "",
        "x": 630,
        "y": 560,
        "wires": [
            [
                "8cc222e5651d4beb"
            ]
        ]
    },
    {
        "id": "54970f5df4fc09a8",
        "type": "ui_slider",
        "z": "59407c72c4b4635e",
        "name": "",
        "label": "Servo",
        "tooltip": "",
        "group": "96c75aaf4397f4b9",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",[{"id":"233cdb6fd58ab4b3","type":"tab","label":"Flow 6","disabled":false,"info":"","env":[]},{"id":"393a11028367c714","type":"mqtt in","z":"233cdb6fd58ab4b3","name":"","topic":"maqueta2/sensores/luz","qos":"0","datatype":"auto","broker":"09168218b0789c33","nl":false,"rap":false,"inputs":0,"x":660,"y":420,"wires":[["05891ede464f8020"]]},{"id":"05891ede464f8020","type":"ui_text","z":"233cdb6fd58ab4b3","group":"96c75aaf4397f4b9","order":1,"width":0,"height":0,"name":"","label":"Luz","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":910,"y":420,"wires":[]},{"id":"6e79ac5b1bb75c88","type":"mqtt in","z":"233cdb6fd58ab4b3","name":"","topic":"maqueta2/sensores/temp","qos":"0","datatype":"auto","broker":"09168218b0789c33","nl":false,"rap":false,"inputs":0,"x":670,"y":480,"wires":[["4ab196a961043c8e"]]},{"id":"4ab196a961043c8e","type":"ui_gauge","z":"233cdb6fd58ab4b3","name":"","group":"96c75aaf4397f4b9","order":2,"width":0,"height":0,"gtype":"donut","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":50,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":930,"y":480,"wires":[]},{"id":"80cfe477789d2354","type":"mqtt in","z":"233cdb6fd58ab4b3","name":"","topic":"maqueta2/sensores/hum","qos":"0","datatype":"auto","broker":"fe6c8158bb680914","nl":false,"rap":false,"inputs":0,"x":670,"y":540,"wires":[["55ca2173675b57a9"]]},{"id":"55ca2173675b57a9","type":"ui_chart","z":"233cdb6fd58ab4b3","name":"","group":"96c75aaf4397f4b9","order":3,"width":0,"height":0,"label":"Humidade","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No [{"id":"233cdb6fd58ab4b3","type":"tab","label":"Flow 6","disabled":false,"info":"","env":[]},{"id":"393a11028367c714","type":"mqtt in","z":"233cdb6fd58ab4b3","name":"","topic":"maqueta2/sensores/luz","qos":"0","datatype":"auto","broker":"09168218b0789c33","nl":false,"rap":false,"inputs":0,"x":660,"y":420,"wires":[["05891ede464f8020"]]},{"id":"05891ede464f8020","type":"ui_text","z":"233cdb6fd58ab4b3","group":"96c75aaf4397f4b9","order":1,"width":0,"height":0,"name":"","label":"Luz","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":910,"y":420,"wires":[]},{"id":"6e79ac5b1bb75c88","type":"mqtt in","z":"233cdb6fd58ab4b3","name":"","topic":"maqueta2/sensores/temp","qos":"0","datatype":"auto","broker":"09168218b0789c33","nl":false,"rap":false,"inputs":0,"x":670,"y":480,"wires":[["4ab196a961043c8e"]]},{"id":"4ab196a961043c8e","type":"ui_gauge","z":"233cdb6fd58ab4b3","name":"","group":"96c75aaf4397f4b9","order":2,"width":0,"height":0,"gtype":"donut","title":"Temperatura￼￼

        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": 1,
        "className": "",
        "x": 630,
        "y": 680,
        "wires": [
            [
                "75f61503e4e7eb0c"
            ]
        ]
    },
    {
        "id": "e49c7e3d476af9a9",
        "type": "ui_button",
        "z": "59407c72c4b4635e",
        "name": "",
        "group": "96c75aaf4397f4b9",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Zumbador on",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 650,
        "y": 760,
        "wires": [
            [
                "f1ec057f848085d0"
            ]
        ]
    },
    {
        "id": "90c57da37e80ead8",
        "type": "mqtt out",
        "z": "59407c72c4b4635e",
        "name": "",
        "topic": "maqueta2/actuadores/son",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "09168218b0789c33",
        "x": 1410,
        "y": 800,
        "wires": []
    },
    {
        "id": "e2b2f4f3c767134b",
        "type": "ui_button",
        "z": "59407c72c4b4635e",
        "name": "",
        "group": "96c75aaf4397f4b9",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Zumbador off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 650,
        "y": 800,
        "wires": [
            [
                "90c57da37e80ead8"
            ]
        ]
    },
    {
        "id": "96c75aaf4397f4b9",
        "type": "ui_group",
        "name": "Panel maqueta2",
        "tab": "e1476bdfa06de523",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "09168218b0789c33",
        "type": "mqtt-broker",
        "name": "VPS_mqtt2",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e1476bdfa06de523",
        "type": "ui_tab",
        "name": "Maqueta2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
