Sasha_flow.json
[{"id":"233cdb6fd58ab4b3","type":"tab","label":"Flow 6","disabled":false,"info":"","env":[]},{"id":"393a11028367c714","type":"mqtt in","z":"233cdb6fd58ab4b3","name":"","topic":"maqueta2/sensores/luz","qos":"0","datatype":"auto","broker":"09168218b0789c33","nl":false,"rap":false,"inputs":0,"x":660,"y":420,"wires":[["05891ede464f8020"]]},{"id":"05891ede464f8020","type":"ui_text","z":"233cdb6fd58ab4b3","group":"96c75aaf4397f4b9","order":1,"width":0,"height":0,"name":"","label":"Luz","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":910,"y":420,"wires":[]},{"id":"6e79ac5b1bb75c88","type":"mqtt in","z":"233cdb6fd58ab4b3","name":"","topic":"maqueta2/sensores/temp","qos":"0","datatype":"auto","broker":"09168218b0789c33","nl":false,"rap":false,"inputs":0,"x":670,"y":480,"wires":[["4ab196a961043c8e"]]},{"id":"4ab196a961043c8e","type":"ui_gauge","z":"233cdb6fd58ab4b3","name":"","group":"96c75aaf4397f4b9","order":2,"width":0,"height":0,"gtype":"donut","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":50,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":930,"y":480,"wires":[]},{"id":"80cfe477789d2354","type":"mqtt in","z":"233cdb6fd58ab4b3","name":"","topic":"maqueta2/sensores/hum","qos":"0","datatype":"auto","broker":"fe6c8158bb680914","nl":false,"rap":false,"inputs":0,"x":670,"y":540,"wires":[["55ca2173675b57a9"]]},{"id":"55ca2173675b57a9","type":"ui_chart","z":"233cdb6fd58ab4b3","name":"","group":"96c75aaf4397f4b9","order":3,"width":0,"height":0,"label":"Humidade","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No [{"id":"233cdb6fd58ab4b3","type":"tab","label":"Flow 6","disabled":false,"info":"","env":[]},{"id":"393a11028367c714","type":"mqtt in","z":"233cdb6fd58ab4b3","name":"","topic":"maqueta2/sensores/luz","qos":"0","datatype":"auto","broker":"09168218b0789c33","nl":false,"rap":false,"inputs":0,"x":660,"y":420,"wires":[["05891ede464f8020"]]},{"id":"05891ede464f8020","type":"ui_text","z":"233cdb6fd58ab4b3","group":"96c75aaf4397f4b9","order":1,"width":0,"height":0,"name":"","label":"Luz","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":910,"y":420,"wires":[]},{"id":"6e79ac5b1bb75c88","type":"mqtt in","z":"233cdb6fd58ab4b3","name":"","topic":"maqueta2/sensores/temp","qos":"0","datatype":"auto","broker":"09168218b0789c33","nl":false,"rap":false,"inputs":0,"x":670,"y":480,"wires":[["4ab196a961043c8e"]]},{"id":"4ab196a961043c8e","type":"ui_gauge","z":"233cdb6fd58ab4b3","name":"","group":"96c75aaf4397f4b9","order":2,"width":0,"height":0,"gtype":"donut","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":50,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":930,"y":480,"wires":[]},{"id":"80cfe477789d2354","type":"mqtt in","z":"233cdb6fd58ab4b3","name":"","topic":"maqueta2/sensores/hum","qos":"0","datatype":"auto","broker":"fe6c8158bb680914","nl":false,"rap":false,"inputs":0,"x":670,"y":540,"wires":[["55ca2173675b57a9"]]},{"id":"55ca2173675b57a9","type":"ui_chart","z":"233cdb6fd58ab4b3","name":"","group":"96c75aaf4397f4b9","order":3,"width":0,"height":0,"label":"Humidade","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No data","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#b12020","#943367","#0f2e8a","#3dbd92","#acc337","#c87837","#f5b8b8","#877099"],"outputs":1,"useDifferentColor":false,"className":"","x":930,"y":540,"wires":[[]]},{"id":"840dea6c9b69d560","type":"mqtt out","z":"233cdb6fd58ab4b3","name":"LED","topic":"maqueta2/actuadores/led","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"09168218b0789c33","x":870,"y":240,"wires":[]},{"id":"ec5b96148a9eaf61","type":"mqtt out","z":"233cdb6fd58ab4b3","name":"Rele","topic":"maqueta2/actuadores/rele","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"09168218b0789c33","x":870,"y":280,"wires":[]},{"id":"4540539e227c69ce","type":"mqtt out","z":"233cdb6fd58ab4b3","name":"Zumbador","topic":"maqueta2/actuadores/zumbador","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"09168218b0789c33","x":870,"y":320,"wires":[]},{"id":"4c3bda719d9270a6","type":"ui_button","z":"233cdb6fd58ab4b3","name":"","group":"92df96b3843b825b","order":0,"width":0,"height":0,"passthru":false,"label":"Interruptor General","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":660,"y":280,"wires":[["840dea6c9b69d560","ec5b96148a9eaf61","4540539e227c69ce"]]},{"id":"09168218b0789c33","type":"mqtt-broker","name":"VPS_mqtt2","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"96c75aaf4397f4b9","type":"ui_group","name":"Maqueta2 Sensores","tab":"e1476bdfa06de523","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"fe6c8158bb680914","type":"mqtt-broker","name":"Broker MQTT do centro","broker":"broker.mqtt.url","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"92df96b3843b825b","type":"ui_group","name":"Maqueta2 Actuadores","tab":"e1476bdfa06de523","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"e1476bdfa06de523","type":"ui_tab","name":"Maqueta2","icon":"dashboard","disabled":false,"hidden":false}]data","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#b12020","#943367","#0f2e8a","#3dbd92","#acc337","#c87837","#f5b8b8","#877099"],"outputs":1,"useDifferentColor":false,"className":"","x":930,"y":540,"wires":[[]]},{"id":"840dea6c9b69d560","type":"mqtt out","z":"233cdb6fd58ab4b3","name":"LED","topic":"maqueta2/actuadores/led","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"09168218b0789c33","x":870,"y":240,"wires":[]},{"id":"ec5b96148a9eaf61","type":"mqtt out","z":"233cdb6fd58ab4b3","name":"Rele","topic":"maqueta2/actuadores/rele","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"09168218b0789c33","x":870,"y":280,"wires":[]},{"id":"4540539e227c69ce","type":"mqtt out","z":"233cdb6fd58ab4b3","name":"Zumbador","topic":"maqueta2/actuadores/zumbador","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"09168218b0789c33","x":870,"y":320,"wires":[]},{"id":"4c3bda719d9270a6","type":"ui_button","z":"233cdb6fd58ab4b3","name":"","group":"92df96b3843b825b","order":0,"width":0,"height":0,"passthru":false,"label":"Interruptor General","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":660,"y":280,"wires":[["840dea6c9b69d560","ec5b96148a9eaf61","4540539e227c69ce"]]},{"id":"09168218b0789c33","type":"mqtt-broker","name":"VPS_mqtt2","broker":"localhost","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"96c75aaf4397f4b9","type":"ui_group","name":"Maqueta2 Sensores","tab":"e1476bdfa06de523","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"fe6c8158bb680914","type":"mqtt-broker","name":"Broker MQTT do centro","broker":"broker.mqtt.url","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"92df96b3843b825b","type":"ui_group","name":"Maqueta2 Actuadores","tab":"e1476bdfa06de523","order":2,"disp":true,"width":6,"collapse":false,"className":""},{"id":"e1476bdfa06de523","type":"ui_tab","name":"Maqueta2","icon":"dashboard","disabled":false,"hidden":false}]
